
    <div class="ui card" id="podcast-card">
    	<div class="image-container">
    		<div  class="center floated upload-image" style="text-align: center">
    			<button class="ui icon button left floated" (click)="onEditButtonClicked()" ><i class="fluid tiny write icon"></i></button>
    			<button class="ui icon button right floated" (click)="onDeleteClicked()"><i class="fluid tiny trash icon">
    			</i></button>
    		</div>			
    	</div>	
    	<div class="content">
    	        <a class="header"><h4>{{ podcast.title }}</h4></a>
    			<div class="meta">
    				<span>{{ podcast.date_posted | date:"short"}}</span>
    				<span>| {{ podcast.creator | titlecase }}</span>
    				<div>
    					<span class="left floated like"><i class="like icon"></i>{{ podcast.comments.length }}</span>
    				    <span class="right floated comments"><i class="comment outline icon"></i>{{ podcast.comments.length }}</span>
    				</div>
    							
    			</div>
    			<div class="ui small modal" id="{{ podcast._id }}">
                <div class="header">Update Interview: {{ podcast._id | slice:0:10}}...</div>
                <div class="content">
                    <div class="ui form center aligned">
                        <div class="ui two fields">
                        	<div class="ui field">
                              <label>Title</label>
                              <input type="text" name="image" [formControl]="title" value="{{podcast.title}}">
                            </div>
                            <div class="ui field">
                              <label>Tag</label>
                              <input type="text" name="image" [formControl]="tag" value="{podcast.tag}}">
                            </div>
                        </div>
                        <div class="ui two fields">
                        	<div class="ui field">
                              <label>Description</label>
                              <input type="text" name="image" [formControl]="description" value="{{podcast.description}}">
                            </div>
                            <div class="ui field">
                              <label>Creator</label>
                              <input type="text" name="image" [formControl]="creator" value="{{podcast.creator}}">
                            </div>
                        </div>
                        <input type="submit" name="" value="Upload" (click)="onEditSubmit()">
                    </div>
                </div>
                </div>
    		
    	</div>     
    </div>
