<div class="ui labeled icon vertical sidebar menu" style="width: 14vh">
    <a class="item" routerLink = "/admin/article">
      <i class="file alternate icon"></i>
      Articles
    </a>
    <a class="item" routerLink = "/admin/podcast">
      <i class="podcast icon"></i>
      Podcasts
    </a>
    <a class="item" routerLink = "/admin/interview">
      <i class="microphone icon"></i>
      Interviews
    </a>
    <a class="item" routerLink = "/admin/analytics">
      <i class="chart line icon"></i>
      Analytics
    </a>
    <a class="item" style="margin-top:100%;">
    </a>
 </div>
