<div class="podcast-display">
	<div class="ui grid">
		<div class="row">
			<div class="three wide column" style="border-right: solid 2px;">
				<a href="https://google.com" class="ui fluid small image">
					<img src="assets/img/w.jpg">
				</a>
			</div>
			<div class="twelve wide column " >
				<div class="podcast-content">
					<h4> Podcast Header </h4>
					<div class="meta">
					    <span class="date">4/5/2020 |</span>
					    <span class="time">5 min</span>
				    </div>
				    <div class="description">
				    	Podcast HeaderPodcast HeaderPodcast HeaderPodcast HeaderPodcast HeaderPodcast
				    </div>
				</div>
			</div>
		</div>
	</div>
</div>
