<div class="podcast-display">
	<div class="ui grid">
		<div class="row">
			<div class="four wide column" style="border-right: solid 2px;">
				<a href="https://google.com" class="ui medium image">
					<img src="{{imageUrl}}" class="fluid">
				</a>
			</div>
			<div class="twelve wide column " >
				<div class="podcast-content">
					<h4> <a [routerLink]="['/podcast/view',podcast._id]">{{podcast.title}}</a> </h4>
					<div class="meta">
					    <span class="date">{{ podcast.date_posted | date:"short"}} |</span>
					    <span class="time">{{ podcast.file.length }}min</span>
				    </div>
				    <div class="description">
				    	{{podcast.description}}
				    </div>
				</div>
			</div>
		</div>
	</div>
</div>
