<app-public-base></app-public-base>
<hr class="review-hr">
<div class="ui grid" id="review-row">
		<div class="row">
			<div class="sixteen wide column ">
				<h3 class="review-section">Reviews</h3>
			</div>
		</div>
</div>
<hr>
<div class="section">
	<div class="ui grid">
		<div class="row">
			<div class="four wide column" id="song-column">
				<app-article-display></app-article-display>
			</div>
			<div class="four wide column" id="album-column">
				<app-article-display></app-article-display>
			</div>
			<div class="four wide column" id="show-column">
				<app-article-display></app-article-display>
			</div>
			<div class="four wide column" id="movie-column">
				<app-article-display></app-article-display>
			</div>
		</div>
	</div>
</div>