<app-public-base></app-public-base>
<hr class="review-hr">
<div class="ui grid" id="review-row">
		<div class="row">
			<div class="sixteen wide column ">
				<h3 class="review-section">Podcasts</h3>
			</div>
		</div>
</div>
<hr>
<div class="pod-section">
	<div class="ui grid">
		<div class="row">
			<div class="eleven wide column">
				<app-podcast-display></app-podcast-display>
				<hr>
				<app-podcast-display></app-podcast-display>
				<hr>
				<app-podcast-display></app-podcast-display>
				<hr>
				<app-podcast-display></app-podcast-display>
				<hr>
			</div>
		</div>
	</div>
</div>
