<app-public-base></app-public-base>
<hr class="review-hr">
<div class="ui grid" id="review-row">
		<div class="row">
			<div class="sixteen wide column ">
				<h3 class="review-section">Interviews</h3>
			</div>
		</div>
</div>
<hr>
<div class="section">
	<div class="ui grid">
		<div class="row">
			<div class="eleven wide column" *ngFor="let interview of interviews">
				<div class="interview-display">
					<app-interview-display [interview]="interview"></app-interview-display>
				</div>					
			</div>
		</div>
	</div>
</div>
