<app-public-base></app-public-base>

<div class="ui grid" id="review-row">
		<div class="row">
			<div class="sixteen wide column ">
				<h3 class="review-section">Social</h3>
			</div>
		</div>
</div>

<div class="pod-section" >
	<div class="ui grid">
		<div class="row">
			<div class="three wide column">
			</div>
			<div class="eleven wide column">
				<div class="ui grid row">
					<div class="four wide column">
						<div class="icon-wrapper" >
							<i class="ui huge facebook icon"></i>
						</div>
					</div>
					<div class="four wide column">
						<div class="icon-wrapper">
							<i class="ui huge twitter icon"></i>
						</div>	
					</div>
					<div class="four wide column">
						<div class="icon-wrapper">
							<i class="ui huge instagram icon"></i>
						</div>
					</div>
					<div class="four wide column">
						<div class="icon-wrapper">
							<i class="ui huge youtube icon"></i>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="sixteen wide column">
				<div class="review-section">
					<div class="ui grid">
						<div class="row">
							<div class="three wide column">
								<h2>CONTACT <br>US</h2>
								<p style="margin-bottom: -1vh;">info@mysite.com</p>
							</div>
							<div class="two wide column ">
								<div class="bar"></div>
							</div>
							<div class="eleven wide column">
								<form class="ui form">
									<div class="ui fields">
										<div class="six wide field">
											<div class="ui field">
												<label></label>
											    <input type="text" name="" class="input" placeholder="Name">
											</div>
											<div class="ui field">
												<label></label>
											    <input type="text" name="" class="input" placeholder="Email">
											</div>
											<div class="ui field">
												<label></label>
											    <input type="text" name="" class="input" placeholder="Phone">
											</div>
										</div>
										<div class="seven wide field">
											<div class="ui field">
												<label></label>
											    <textarea type="text" name="message" class="input" placeholder="Enter your message here"></textarea>
											    <input type="submit" name="SUBMIT" class="ui black button right floated">

											</div>
										</div>
									</div>
								</form>
							</div>
						</div>
					</div>
		
				</div>
			</div>
		</div>
	</div>
</div>
<footer class="ui footer">
      <div class="right menu" >
    	    <div class="ui grid row">
    	    	<div class="two wide column center floated footer-title" style="margin-left: 10.5vw;height:20vh;">
    	    		<a class="">
  	                  <p style="padding-top: 5vh;color: black;">Independent <br>Anonymous<br></p>	
                    </a>
    	    	</div>
    	    	<div class="six wide column right floated" style="padding-right: 10.5vw;border-left: solid 3px #063a7a;padding-top: 3vh;">
					
			    </div>

            </div>
    </div>
</footer>