<div class="article-display">
	<div class="article-image">
		<a href="https://google.com" class="ui medium image">
			<img src="assets/img/w.jpg">
		</a>
		<div class="ui grid">
			<div class="row">
				<div class="fifteen wide column">
					<div class="ui divider"></div>
					<p class="meta">
						{{ article.tag }}
					</p>
				</div>
			</div>
		</div>
		
	</div>
	<div class="article-content">
		<div class="header">
			<h3>{{ article.title }}</h3>
		</div>
		<div class="content">
			<p>{{ article.split(' ').slice(1,20).join(' ') }}</p>
		</div>
		<a href="" class="read-more">Read More...</a>
	</div>
</div>
