<div class="article-display">
	<div class="article-image">
		<a href="https://google.com" class="ui medium image">
			<img src="assets/img/w.jpg">
		</a>
		<div class="ui grid">
			<div class="row">
				<div class="fifteen wide column">
					<div class="ui divider"></div>
					<p class="meta">
						Song
					</p>
				</div>
			</div>
		</div>
		
	</div>
	<div class="article-content">
		<div class="header">
			<h3>Serpentine Trials in the Bag</h3>
		</div>
		<div class="content">
			<p>Serpentine Trials in the Bag,Serpentine Trials in the Bag
			Serpentine Trials in the Bag,Serpentine Trials in the Bag,
		    Serpentine Trials in the Bag,Serpentine Trials in the Bag</p>
		</div>
		<a href="" class="read-more">Read More...</a>
	</div>
</div>
