.section{
	margin-left: 19vw;
	margin-right:8vw;
}

.review-section{
	margin-left: 11vw;
	margin-top: 2vh;
}
.review-section{
	margin-top: 2vh;
}
#review-row{
	border-top:solid 4px #063a7a; 
	background-color: #063a7a; 
	border-bottom:solid 4px #063a7a;
	margin-top: 1vh;
	color: white;
	opacity: 0.9;
	font-weight: bold;

}
.icon-wrapper{
	border: solid 7px;
	height: 110px;
	border-radius:50%;
	-moz-border-radius:50%;
	-webkit-border-radius:50%;
	width:110px;
	display:flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	
}

.pod-section{
	margin-top: 5vh;
}

.bar{
	border-top: 8px solid;
}

form textarea{
	border-radius: 0px;
	border: solid 1px; 
}
.ui .button,
.input{
	border-radius: 0px !important;
	border: solid 1px !important; 
}


footer{
	padding-bottom: 3vh;
	padding-top: 2vh;
	background-color: black;
	color:white; 
	height: 20vh;
	border-bottom: 3px white solid; 
}

.footer-title{
	background-color:white !important;
	color: black !important;
	font-weight: bold;
	font-size: 3vh;
}
