<div class="ui labeled icon vertical sidebar menu" style="width: 14vh">
    <a class="item" routerLink = "/admin/home">
      <i class="home icon"></i>
      Home
    </a>
    <a class="item" routerLink = "/admin/articles">
      <i class="file alternate icon"></i>
      Articles
    </a>
    <a class="item" routerLink = "/admin/podcasts">
      <i class="podcast icon"></i>
      Podcasts
    </a>
    <a class="item" routerLink = "/admin/interviews">
      <i class="microphone icon"></i>
      Interviews
    </a>
    <a class="item" routerLink = "/admin/analytics">
      <i class="chart line icon"></i>
      Analytics
    </a>
 </div>
