.card{
	border-radius: 0px;
}
.cont
.extra{
	padding: 2vh;
}
.meta{
	margin-bottom: 2vh; 
	padding-top: 1vh;
}
.header{
	margin-top:2vh;
	margin-bottom: 2vh;  
}
.image{ 
	height: 100%;
	width:100%; 
}
.extra{
	margin-bottom: 0vh;
}
.read-more{
	padding-top: 1vh;
	text-decoration: underline;
}
.description{
	margin-top: 1vh;
}
.divider{
	margin-bottom: -0.5vh; 
}