.card{
	border-radius: 0px;
	border: groove 5px rgb(6,58,122,.8) ;
	
}
.cont
.extra{
	padding: 2vh;
}

.image img{
	max-height:31vh;
	min-height:30vh;
}
.meta{
	margin-bottom: 2vh; 
	padding-top: 1vh;
	font-weight: bold;
}
.header{
	margin-top:2vh;
	margin-bottom: 2vh;  
}

.extra{
	margin-bottom: 0vh;
}
.read-more{
	padding-top: 1vh;
	text-decoration: underline;
}
.description{
	margin-top: 1vh;
}
.divider{
	margin-bottom: -0.5vh; 
}