
<div class="ui top attached menu" style="border-radius: 0px;">
  <div class="left menu" style="margin-left: 8vw;">
  	<a class="item"></a>
    <a class="item" >
  	  <p>Independent <br>Anonymous<br></p>	
    </a>
  </div>
  <div class="right menu" style="margin-right: 8vw;">
    <a class="item" routerLink = "/reviews">Reviews</a>
    <a class="item" routerLink = "/interviews">Interviews</a>
    <a class="item" routerLink = "/podcasts">Podcasts</a>
    <a class="item" routerLink = "/social">Social</a>
    <a class="item"></a>
  </div>
</div>
<div class="ui grid">
<div class="row">
<div class="sixteen wide column">
  <div class="video-segment" style="margin-bottom: 6vh;">
  <div class="ui grid">
    <div class="row">
      <div class="three wide column"></div>
      <div class="ten wide column">
        <div class="meta">
            <div class="ui grid row">
              <div class="eight wide column">
                <h4> {{interview.title}} </h4>
                <h2> {{interview.description }} </h2>
              </div>
            </div>          
        </div>
      </div>
    </div>
    <div class="row" style="margin-top: -5vh;">
      <div class="three wide column"></div>
      <div class="ten wide column">
        <div class="ui video-player">
          <video width="100%" [src]="videoUrl" controls>
          </video>
        </div>
      </div>
      <div class="seven wide column"></div>
    </div>
  </div>
  </div>
</div>
</div>
<div class="row">
<div class="sixteen wide column">
<footer class="ui footer">
      <div class="right" >
          <div class="ui grid row">
            <div class="two wide column center floated footer-title" style="margin-left: 10.5vw;height:20vh;">
              <a class="">
                      <p style="padding-top: 5vh;color: black;">Independent <br>Anonymous<br></p> 
                    </a>
            </div>
            <div class="six wide column right floated" style="padding-right: 10.5vw;border-left: solid 3px white;padding-top: 3vh;">
          
          <div class="ui grid row center floated">
          <div class="four wide column">
            <div class="icon-wrapper" >
              <i class="ui huge facebook icon"></i>
            </div>
          </div>
          <div class="four wide column">
            <div class="icon-wrapper">
              <i class="ui huge twitter icon"></i>
            </div>  
          </div>
          <div class="four wide column">
            <div class="icon-wrapper">
              <i class="ui huge instagram icon"></i>
            </div>
          </div>
          <div class="four wide column">
            <div class="icon-wrapper">
              <i class="ui huge google icon"></i>
            </div>
          </div>
            </div>
          </div>

            </div>
    </div>
</footer>
</div>
</div>
</div>
