<div class="ui menu" style="border-radius: 0px;">
  <div class="left menu" style="margin-left: 8vw;">
  	<a class="item"></a>
    <a class="item" >
  	  <p>Independent <br>Anonymous<br></p>	
    </a>
  </div>
  <div class="right menu" style="margin-right: 8vw;">
    <a class="item" routerLink = "/register">Login</a>
    <a class="item"></a>
  </div>
</div>
<div class="ui grid">
	<div class="row">
		<div class="five wide column">
		</div>
		<div class="six wide column">
			<div class="ui segment" style="margin-top: 5em;">
				<p class="lead">Not a member? Please <a routerLink="/register">register</a> </p>
				<form class="ui form" (submit)="onLoginSubmit()">
					<div role="alert" *ngIf="formError" class="alert">{{ formError }}</div>
					<div class="field form-group">
						<label>Email</label>
						<input type="email" name="username" class="form-control" [(ngModel)]="credentials.email">
					</div>
					<div class="field form-group">
						<label>Password</label>
						<input type="text" name="username" class="form-control" [(ngModel)]="credentials.password">
					</div>	
					<input class="ui blue button" type="submit" value="Login">
				</form>
			</div>
		</div>
	</div>
</div>

