<app-admin-base-component></app-admin-base-component>
<div class="ui bottom attached segment pushable">
  <app-admin-sidebar></app-admin-sidebar>
  <div class="pusher">
    <div class="ui basic segment">
    	<div class="four wide column float right">
    		<div class="ui blue button" onclick="showModal()">
    			Create
    		</div>
    		<div class="ui tiny modal" id="new-article-modal">
    			<div class="header">Choose Type</div>
    			<div class="content">
    				<form class="ui form">
    					<div class="fields">
    						<div class="seven wide field ui center aligned segment"  style="margin-left: 1em;">
    							<a href="{{songUrl}}">
    								<i class="large music icon"></i>           
    							</a>
    							<label>Song</label>
    						</div>    	
    						<div class="one wide field "></div>						
    						<div class="seven wide field ui center aligned segment" >
    							<a href="{{movieUrl}}">
    								<i class="large film icon"></i>
    							</a>
    							<label>Movie</label>
    						</div>
    					</div>
    					<div class="fields">
    						<div class="seven wide field ui center aligned segment"  style="margin-left: 1em;">
    							<a href="{{showUrl}}">
    								<i class="large video icon"></i>
    							</a>
    							<label>Show</label>
    						</div>   
    						<div class="one wide field "></div>	 							
    						<div class="seven wide field ui center aligned segment" >
    							<a href="{{albumUrl}}">
    								<i class="large folder icon"></i>
    							</a>
    							<label>Album</label>
    						</div>
    					</div>
    				</form>
    			</div>
    			<div class="actions">
    				<div class="ui proceed button">Proceed</div>
    			</div>
    		</div>
    	</div>
    	<div class="articles-list">
    		<h4 class="articles-list-header">Song Articles</h4>
    		<div class="ui six column grid">
                <div class="column" id="article-card" *ngFor="let article of songArticles">
                     <app-admin-article-display [article]="article"></app-admin-article-display>
                </div>
    			<div class="column fluid center aligned right floated" >
    				<div class="ui left labeled button more-button" tabindex="0">
    					<a class="ui basic right pointing label">
    						More
    					</a>
    					<div class="ui button">
    						2,048	
    					</div>
    					
    				</div>
    			</div>
    		</div>
    		<h4 class="articles-list-header">Album Articles</h4>
    		<div class="ui six column grid">
    			
    			<div class="column" id="article-card" *ngFor="let article of albumArticles">
                     <app-admin-article-display [article]="article"></app-admin-article-display>
                </div>
    			<div class="column fluid center aligned right floated" >
    				<div class="ui left labeled button more-button" tabindex="0">
    					<a class="ui basic right pointing label">
    						More
    					</a>
    					<div class="ui button">
    						2,048	
    					</div>
    					
    				</div>
    			</div>
    		</div>
    		<h4 class="articles-list-header">Show Articles</h4>
    		<div class="ui six column grid">
                <div class="column" id="article-card" *ngFor="let article of showArticles">
                     <app-admin-article-display [article]="article"></app-admin-article-display>
                </div>
    			<div class="column fluid center aligned right floated" >
    				<div class="ui left labeled button more-button" tabindex="0">
    					<a class="ui basic right pointing label">
    						More
    					</a>
    					<div class="ui button">
    						2,048	
    					</div>
    				</div>
    			</div>
    		</div>
    		<h4 class="articles-list-header">Movie Articles</h4>
    		<div class="ui six column grid">
                <div class="column" id="article-card" *ngFor="let article of movieArticles">
                     <app-admin-article-display [article]="article"></app-admin-article-display>
                </div>

    			<div class="column fluid center aligned right floated" >
    				<div class="ui left labeled button more-button" tabindex="0">
    					<a class="ui basic right pointing label">
    						More
    					</a>
    					<div class="ui button">
    						2,048	
    					</div>
    					
    				</div>
    			</div>
    		</div>
    	</div>
    </div>
  </div>
</div>


