<div class="article-display">
	<div class="article-image">
		<a href="https://google.com" class="ui medium image">
			<img src="{{imageUrl}}">
		</a>
		<div class="ui grid">
			<div class="row">
				<div class="fifteen wide column left floated">
					<hr class="" style="margin-left:0vw;">
					<p class="meta">
						{{ article.tag }}
					</p>
				</div>
			</div>
		</div>
		
	</div>
	<div class="article-content">
		<div class="header">
			<h3>{{ article.title | titlecase}}</h3>
		</div>
		<div class="content">
			<p>{{ article.content.split(' ').slice(1,20).join(' ') }}...</p>
		</div>
		<a [routerLink]="['/reviews/article',article.tag,article._id]" class="read-more">Read More</a>
	</div>
</div>
