
<div class="ui top attached menu" style="border-radius: 0px;">
  <div class="left menu" style="margin-left: 8vw;">
  	<a class="item"></a>
    <a class="item header" >
  	  <p>Independent <br>Anonymous<br></p>	
    </a>
  </div>
  <div class="right menu" style="margin-right: 8vw;">
    <a class="item" routerLink = "/reviews">Reviews</a>
    <a class="item" routerLink = "/interviews">Interviews</a>
    <a class="item" routerLink = "/podcasts">Podcasts</a>
    <a class="item" routerLink = "/social">Social</a>
    <a class="item"></a>
  </div>
</div>
