
    <div class="ui fluid card">
    	<div class="image-container">
    		<div *ngIf="hasImage " class="ui medium image fourteen wide column">
    			<img src="{{imageUrl}}" class="fluid">
    		</div>
    		<div *ngIf="!hasImage" class="right floated upload-image medium image">
    			<button class="ui icon button" (click)="onClickButton()"><i class="fluid tiny plus icon"></i></button>
    		</div>			
    	</div>	
    	<div class="content">
    	    <a class="header"><h4>{{ article.title }}</h4></a>
    			<div class="meta">
    				<span>{{ article.date_posted | date:"short"}}</span>
    				<span>| {{ article.author | titlecase }}</span>
    				<div>
    					<span class="left floated like"><i class="like icon"></i>{{ article.comments.length }}</span>
    				    <span class="right floated comments"><i class="comment outline icon"></i>{{ article.comments.length }}</span>
    				</div>
    							
    			</div>
            <div class="ui small modal" id="{{ article._id }}">
                <div class="header">Set Image for article: {{ article.title | slice:0:10}}...</div>
                <div class="content">
                    <div class="ui form center aligned">
                        <div class="ui field">
                          <input type="file" name="image" multiple (change)="selectImage($event)">
                        </div>
                        <input type="submit" name="" value="Upload" (click)="onSubmit()">
                    </div>
                </div>
            </div>
    	</div>
        
    </div>

