.video-player{
	height:5vh !important;
	width: auto;
	margin-top: -1vh;
}
.meta{
	padding-top: 2vh;
	border-bottom: solid 20px #063a7a;
}
.medium img{
	max-height: 25vh;
}


.footer{
	margin-top:29%; 
	padding-bottom: 3vh;
	padding-top: 2vh;
	background-color: black;
	color:white; 
	height: 20vh;
	border-bottom: 3px white solid; 
	bottom: 0;
}

.footer-title{
	background-color:white !important;
	color: black !important;
	font-family: 'Nunito';
	font-weight: bold;
	font-size: 3vh;
}
